/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
}
header{
    background-image: url(../img/jumbo.png);
    height: 500px;
    background-size: cover;
    background-position: center;
}
header .container{
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding-top: 25px;
}
ul li {
    display: inline-block;
   
}
.logo li img{
    vertical-align: middle;
}

.infobar{
    height: 100px;
    color: white;
    position: relative;
}
.infobar ul{
    line-height: 100px;
}

.infobar > ul{
    list-style-type : none;
}
.menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu li{
    padding: 0 20px;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.main-content{
    text-align: center;
    color: white;
}
.main-content > h1{
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
   
}
.main-content > p{
    width: 600px;
    margin: 0 auto 10px auto;
   
    
}

ul li [value="Accedi"]{
    background-color: white;
    border: 1px solid white;
}

.button-radius{
    padding: 10px;
    border-radius: 20px;
}

.main-button>input:nth-child(1){
    background-color: white;
    border: 1px solid white;
    margin: 5px;
}
.main-button>input:nth-child(2){
    background-color: black;
    border: 1px solid black;
    color: white;
    margin: 5px;
}

.box{
    max-width: 1200px;
    min-width: 1200px;
    margin: 80px auto;
}

.text{
    width: 30%;
    padding-top: 35px;
    padding-right: 35px;
}

.text h3{
    font-size: 45px;
}

.text p{
     margin-top: 15px;
    font-size: 20px;
}
