/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
}
header{
    background-image: url(../img/jumbo.png);
    height: 500px;
    background-size: cover;
    background-position: center;
}
header .container{
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding-top: 25px;
}
footer{
    background-color: rgb(39, 39, 39);
   
}
ul li {
    display: inline-block;
   
}
ul li a{
    text-decoration: none;
    color: white;
}
hr{
    border: none;
    height: 5px;
    display: block;
    background-color: lightcoral;
}
.logo li img{
    vertical-align: middle;
}

.infobar{
    height: 100px;
    color: white;
    position: relative;
}
.infobar ul{
    line-height: 100px;
}

.infobar > ul{
    list-style-type : none;
}
.menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu li{
    padding: 0 20px;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.main-content{
    text-align: center;
    color: white;
}
.main-content > h1{
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
   
}
.main-content > p{
    width: 600px;
    margin: 0 auto 10px auto;
   
    
}

ul li [value="Accedi"]{
    background-color: white;
    border: 1px solid white;
}

.button-radius{
    padding: 20px;
    border-radius: 40px;
}

.main-button>input:nth-child(1){
    background-color: white;
    border: 1px solid white;
    margin: 15px;
}
.main-button>input:nth-child(2){
    background-color: black;
    border: 1px solid black;
    color: white;
    margin: 15px;
}

.box{
    max-width: 1200px;
    min-width: 1200px;
    margin: 80px auto 200px auto;
}

.text{
    width: 30%;
    padding: 35px
}

.text h3{
    font-size: 45px;
}

.text p{
     margin-top: 15px;
     font-size: 20px;
}

.center{
    text-align: center;
    width: 850px;
    margin: 0 auto;
}
.bg-stars{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: center;
    width: 500px;
    margin: 0 auto;
    font-size: 30px;
}

.center .button-radius>input:first-child{
    border: 1px solid lightcoral;
    background-color: lightcoral;
    color: white;
    margin-top: 15px;
}

.footer-container > ul li{
    display: block;
    padding: 10px 0;
}
.footer-container > ul{
    margin-right:  80px;
}
.footer-container li:first-child {
    color: lightcoral;
}
ul li h4{
    font-size: 30px;
    width: 200px;
}

.icon{
    width: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}
.footer-container{
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    border-bottom:2px solid lightcoral;
    
}
.foot{
    margin-top: 30px;
    padding-bottom: 60px;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}
.foot .button>input[value="Registrati"]{
    background-color: lightcoral;
    border: 1px solid lightcoral;
    color: white;
}
#ita{
    width: 20px;
}

